$bg-color: #f8f8f8;
$title-color: #212121;
$border-color: #808080;
$text-secondary-color: #969696;
$text-main-color: #666667;

$border: 1px solid $border-color;

//sizes
$navbar-heght-tablet: 50px;
$navbar-heght-desktop: 80px;

$title-size: 36px;
$text-main-size: 16px;
$text-secondary-size: 14px;

//responsive layout

$mobile-width: 375px;
$tablet-width: 748px;
$desktop-width: 1024px;
