.burgerButton {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: block;
  border: none;
  background-color: transparent;
}

.burgerButtonIcon {
  width: 24px;
  height: 2px;
  background-color: $title-color;
  position: relative;
  transition: width 0.3s ease;

  &::before,
  &::after {
    content: "";
    width: 24px;
    height: 2px;
    background-color: $title-color;
    position: absolute;
    left: 0;
    transition: 0.3s ease;
    transition-delay: 0.5s;
  }

  &::before {
    top: 8px;
  }

  &::after {
    top: -8px;
  }
}

.open {
  width: 0;

  &::before {
    transform: rotate(-45deg);
    top: 0;
  }

  &::after {
    transform: rotate(45deg);
    top: 0;
  }
}

@media (min-width: $tablet-width) {
  .burgerButton {
    display: none;
  }
}
