.registration {
  max-width: 630px;
}

.registrationDescriptionWrapper {
  background-color: $bg-color;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
}

.registrationDescription {
  color: $text-secondary-color;
  font-size: $text-secondary-size;
  line-height: 24px;
  & > span {
    color: $title-color;
  }
}

.registrationTitle {
  font-size: $title-size;
  font-weight: 600;
  color: $title-color;
  margin-top: 25px;
}

.registrationInput {
  margin-top: 25px;
}

.registrationButtonPosition {
  margin-top: 40px;
}

.registrationBack {
  margin-top: 25px;
  color: $text-main-color;
  font-size: $text-main-size;
  height: 24px;
  display: flex;
  align-items: center;
  & > button {
    border: none;
    display: flex;
    background-color: transparent;
    color: $title-color;
    font-size: $text-main-size;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
    @media (pointer: fine) {
      &:hover {
        color: $text-main-color;
      }
    }
    &:active {
      color: $title-color;
      transform: scale(0.97);
    }
  }
}

@media (min-width: $tablet-width) {
  .registration {
    max-width: 380px;
  }
  .registrationDescriptionWrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: $desktop-width) {
  .registration {
    max-width: 530px;
  }
  .registrationTitle {
    font-size: 48px;
  }
  .registrationBack {
    margin-top: 35px;
    font-size: 20px;
    & > button {
      font-size: 20px;
    }
  }
}
